.contato {
  background-color: var(--branco);
  padding: 1.5em;
}

.contato__titulo {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--azul-escuro);
}

.contato__texto {
  font-weight: 300;
  color: var(--azul-escuro);
  margin: 1em 0;
}

.contato__email {
  border: 1px solid var(--azul-escuro);
  color: var(--azul-escuro);
  border-radius: 24px;
  padding: 0.8em;
  width: 90%;
}
.contato__email::placeholder {
  font-family: var(--fonte-principal);
  font-weight: 400;
  color: var(--azul-degrade);
  background: url("../img/icone-email.svg") no-repeat;
  padding-left: 2em;
}

@media screen and (min-width: 1024px) {
  .contato {
    padding: 3em 0;
  }

  .contato__titulo {
    font-size: 1.5rem;
  }

  .contato__textos {
    width: 30%;
    line-height: 2em;
  }

  .contato {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contato__email {
    padding: 1em 4em;
  }
  .contato__texto {
    width: 60%;
  }
}
